<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/bootstrap/css/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="#" class="navbar-brand"><img src="" alt="Logo" srcset=""></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <% if (user) { %>
                <li class="nav-item">
                    <a href="/article/article" class="nav-link">Add Article</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
            </li>
        </ul>
        
        <ul class="navbar-nav navbar-right">
           <% if (!user) { %> 
                <li class="nav-item">
                    <a href="/user/register" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/user/login" class="nav-link">Login</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/user/logout" class="nav-link">Logout</a>
                </li>
            <% } %>
       
       <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis obcaecati aliquid quos temporibus ut assumenda. Ipsam, facere ullam dolor quaerat aliquam ea distinctio ut iste exercitationem repellendus, fuga quos sapiente! -->
    </nav>
