.register{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #30e930, #065f06);
    background-size: cover;
    position: relative;

    &__form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(105deg, 
                                            rgba(255,255,255, .9) 0%, 
                                            rgba(255, 255, 255, .9) 55%, 
                                            transparent 55%), 
                                        url(/public/img/net-3.jpg);
        background-size: cover;
        height: 70vh;
        width: 70%;
    }
}

.login{
    height: 100vh;
    background-image: linear-gradient(to right bottom, #30e930, #065f06);
    background-size: cover;
    position: relative;

    &__form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(105deg, 
                                            rgba(255,255,255, .9) 0%, 
                                            rgba(255, 255, 255, .9) 55%, 
                                            transparent 55%), 
                                        url(/public/img/net-2.jpg);
        background-size: cover;
        height: 70vh;
        width: 70%;
    }
}



.articleForm{
    margin: 3rem 0;
}



  .navbar-right{
      
      float: right;
  }

  .heading--secondary{
      text-transform: uppercase;
      text-align: center;

  }

  .articles{
    margin: 1rem;

}


.card__image img{
    width: 100%;
    
}

.trending__card{
    padding: 1rem;
    width: 24%;
    display: inline-block;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
    transition: all .3s;


    &:hover{
        transform: scale(1.05);
    }
}

.article{
    margin: 2rem 20rem;

    &__image{
        height: 100%;
        // width: 21rem;
    }

}