<%- include ./partial/dashboardHeader -%>

    <section class="container row">
        <div class="col-8 offset-2">
                <br>
                <form action="/users/add/books" method="POST" enctype="multipart/form-data" enctype="application/x-www-form-urlencoded">  
                    <label for="">Upload Format: PDF/DOC</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="imageDoc">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <small id="emailHelp" class="form-text text-muted">Please make sure the book you are uploading is with does format above.</small>
                    </div>
                    <label for="">Image:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="imageFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <small id="emailHelp" class="form-text text-muted">Please make sure the book you are uploading as the front page image.</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title">
                        <small id="emailHelp" class="form-text text-muted">Please add a title for this book for easy search.</small>
                    </div>
                    <div class="mb-3">
                        <label for="validationTextarea">Short Article for the Book</label>
                        <textarea class="form-control" name="summary" id="validationTextarea" placeholder="Summary about the book"></textarea>
                        <small id="emailHelp" class="form-text text-muted">Please brefly discuss about this book or the writer.</small>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            
        </div>
    </section>

<%- include ./partial/docFooter -%>