<%- include ./partial/dashboardHeader -%>
<section class="container row">
    <div class="col-8 offset-2">
        <%- messages('message', locals) %>
    </div>
</section>
<%- include ./partial/docFooter -%>