<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nnamdiscoblog - Blogger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">

    <link rel="stylesheet" href="/public/css/aos.css">

    <link rel="stylesheet" href="/public/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/public/css/flaticon.css">
    <link rel="stylesheet" href="/public/bootstrap/css/style.css">
    <link rel="stylesheet" href="/public/css/icomoon.css">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">NNAMDISCOBLOG<span>.com</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What's New
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Books</a>
                <a class="dropdown-item" href="#">Career Teaching</a>
                <a class="dropdown-item" href="#">Discover Your Value</a>
                <a class="dropdown-item" href="#">Entertainment</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">History</a>
                <a class="dropdown-item" href="#">Inspirational Quote</a>
                <a class="dropdown-item" href="#">News Trend</a>
                <a class="dropdown-item" href="#">Motivational Quote</a>
              </div>
            </li>
	          <li class="nav-item"><a href="/lifestyle" class="nav-link">Advert with us</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            <% if (!user){ %>
              <!-- <li class="nav-item"><a href="/user/login" class="nav-link">Login</a></li>
              <li class="nav-item"><a href="/user/register" class="nav-link">Signup</a></li> -->
            <% } else { %>
                  <li class="nav-item"><a href="/user/add/dashboard" class="nav-link">Add</a></li>
                  <li class="nav-item"><a href="/user/logout" class="nav-link">Logout</a></li>
            <% } %>

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->